
body
{
    size: 1440px;
    margin: auto;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
header
{
    margin: 15px;
    display: flex;
}
.logos
{
    padding: 10px;
    float: left;
}
.nav_elements
{
    float: left;
    margin-left: 100px;
}
ul li 
{
    text-decoration: none;
    font-size: 15px;
    display: inline;
    padding: 10px;
}
a
{
    text-decoration: none;
}
main
{
    size: 1440px;
}
footer
{

}